<form method="POST" action="/?_method=DELETE">
    <button name = "id" type = "submit">Remove Entire List</button>
</form>

<h2>TO SHOW 1 FREAKIN' LIST</h2>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Completed</th>
    </tr>
  </thead>
