<a href="/" class="pageTitle"><h1>THE THINGS I GOTTA DO</h1>

<h2>CREATE NEW TO DO LIST</h2>

<form action = "/" method = "POST">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" name="description" id="description" placeholder="description">
  </div>
  <div class="form-group">
    <label for="completed">Completed</label>
    <input type="text" name="completed" id="completed" placeholder="completed">
  </div>
  <button type="submit">Submit</button>
</form>
